// Bootstrap brand color customization
$brand-primary: #38185F!default;
$brand-success:  #4284CA !default;
$brand-danger: $red !default;
$brand-warning: #02044E !default;
$brand-info: #92F9Ff !default;
$brand-rose: #D7A5D8 !default;
